# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
bzip2
ca-certificates
certifi
charset-normalizer
click-plugins
cligj
confu
contourpy
cycler
dataclasses-json
distro
django
django-countries
django-handleref
django-inet
django-peeringdb
fairlearn
filetype
fiona
fonttools
frozenlist
fuzzywuzzy
geographiclib
geonamescache
geopandas
geopy
greenlet
h11
haversine
httpcore
httpx
idna
iniconfig
jsonpatch
jsonpointer
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langsmith
libffi
libsqlite
marshmallow
matplotlib
multidict
munge
mypy-extensions
networkx
numpy
openai
openssl
orjson
osmnx
packaging
pandas
peeringdb
pillow
pip
pluggy
pycountry
pydantic
pydantic-core
pyparsing
pyproj
pytest
python
python-dateutil
pytricia
pytz
pyyaml
requests
ripe-atlas-cousteau
scikit-learn
scipy
seaborn
setuptools
shapely
six
sniffio
sqlalchemy
sqlite
sqlparse
tenacity
threadpoolctl
tiktoken
tk
tomlkit
twentyc-rpc
typing-extensions
typing-inspect
tzdata
ucrt
urllib3
vc
vc14_runtime
vs2015_runtime
websocket-client
wheel
xz
yarl
zlib